/* Your code here */
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1;
}
.main__article{
    border-right: 1px solid #e2e2e2;
}

.article-body{
    display: inline-flex;
    justify-content: space-evenly;
    padding-right: 10px;
    margin-bottom: 40px;
}

h1 {
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    padding: 15px 10px 10px 0;
}
  
h2 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 20px;
}
  
h3 {
    font-size: 16px;
    margin: 0;
    padding: 5px 0;
}

.byline {
    color: #999;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.comments{
    font-size: 12px;
    color: blue;
}

.article-body-list ul{
    list-style: disc;
    padding: 5px 15px;
}
  
.article-body-list li {
    margin-bottom: 10px;
    font-size: 12px;
}

.sub-article{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    padding: 0 8px;
    margin-bottom: 25px;
}

.sub-article p{
    font-size: 12px;
}

.sub-article .left-side{
    font-size: 12px;
    padding: 8px 12px;
    border-right: 1px solid #e2e2e2;
}

.sub-article .right-side{
    font-size: 12px;
    padding: 8px 12px;
}

.article-sidebar{
    padding: 0 10px;
    font-size: 14px;
}

#side-article{
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    border-bottom: 1px solid #e2e2e2;

}

@media screen and (max-width: 1200px) {
    main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1;
    }
  
    .main-article {
      border-right: none;
    }
  
    .article-sidebar {
      display: none;
    }
  }
  
  h2.side-article-title {
    font-size: 16px;
    padding: 5px 0;
  }
  
  .office {
    padding-top: 5px;
  }
  
  .operations {
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
  }
  
  .opinions {
    font-size: 20px;
    margin: 0;
    padding-bottom: 5px;
    font-weight: 900;
  }
  
  .table-of-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
  }
  
  .four {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 25% 25% 25% 25%;
    border-right: 1px solid #f7f7f5;
  }
  
  .three {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 5px;
  }
  
  .table-story {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f7f7f5;
    justify-content: center;
  }
  .story-title {
    font-size: 12px;
    font-weight: bold;
    display: block;
  }
  
  .sub-articles {
    border: 1px solid black;
    border-right: none;
    border-left:none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
  }
  
  article#sub-article h2 {
    padding: 15px 0 5px 0;
  }
  
  section.sub-articles p {
    font-size: 12px;
    padding-bottom: 15px;
  }
